.subjects {
  .subject-item {
    .title {
      padding: 15px 0;
    }

    .full-name {
      width: 60%;
    }

    .birthdate {
      width: 15%;
    }

    .avg-notes {
      width: 25%;
    }
  }
}

.tuition_payments {
  .payments-header {
    padding-bottom: 15px;
  }
  .full-name {
    width: 40%;
  }
  .month {
    width: 25%;
  }
  .date {
    width: 25%;
  }
  .amount {
    width: 10%;
  }
}
